
{%  extends  "base.html" %}
{% load widget_tweaks %}

{% block  content %}

  <center>
    <div class="card" style="width:560px;">

  <div class="card-body">
  
<h2> please enter otp  recieved on your  phone</h2>
<h3>{%  if  request.session.msg %}
<font color="red">{{request.session.msg }}</font>
{%  endif %}
</h3>

<form action="http://localhost:8000/intro2/"  method="POST">{% csrf_token %}

<input  type="text" name="confirm" placholder="enter  OTP">

<input type="submit" value="Confirm OTP">



</form>

</div>
</div>

{% endblock %}